@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap');

body{
    background-color: #000000;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
.spinner {
    border: 8px solid #000000;
    border-radius: 50%;
    border-top: 8px solid #0066ff;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#texto {
    padding-top: 148px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
#texto > div {
    font-size: 54px;
    color: #0066ff;
    animation: text-animation 3s linear infinite;    
    font-family: 'Russo One';
}
  
@keyframes text-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
  